{% extends "base.html" %}

{% block content %}
<div align="center">
    <div class="container mt-5 bg-light-subtle rounded-3 shadow-lg flex-grow-1">
        <h1>ბლოგები</h1>
        <div class="row justify-content-left">
            {% for blog in blogs %}
            <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                <div class="card rounded bg-light shadow" style="width: 16rem; height: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <p class="card-text">{{ blog.content[:100] }}...</p>
                        <p class="text-muted">By {{ blog.author }}</p>
                        <div class="mt-auto border-secondary border-top">
                            {% if current_user.role == "Admin" %}
                            <form method="POST" class="d-inline me-2 mt-2 pb-2">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                            {% endif %}
                            <a href="{{ url_for('blog_detail', blog_id=blog.id) }}" class="btn btn-primary mt-2 pb-2">მეტის
                                ნახვა</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if blogs|length == 0 %}
            <div class="mt-5">
                <p class="text-muted">No blogs available at the moment.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}