{% extends "base.html" %}

{% block content %}
<div class="container mt-5 bg-light-subtle rounded-3 shadow-lg" style="width: 50rem">
    <h4 class="m-2" align="center">დროის დაუფლება: დროის ეფექტური კონტროლის ხელოვნება</h4>

    <p class="mt-5 px-5"> დრო, რომელიც ჩვენ გვაქვს შეზღუდული რაოდენობით და ვერ დავიბრუნებთ მას შემდეგ, რაც გაქრება.
        ფულისა და
        მატერიალური
        მასალისგან განსხვავებით, დროის დაზოგვა ისევ შესაძლებელია. მნიშვნელოვანია გვახსოვდეს, რომ დრო არის მთავარი
        რესურსი,
        რაც ჩვენ გვაქვს. საუბარია არა იმაზე, რომ იყოთ ზედმეტად მკაცრი გრაფიკების მიმართ ან იყოთ მუდმივად პროდუქტიული,
        არამედ
        თქვენი დროის შენარჩუნება თქვენს პრიორიტეტებთან და მიზნებთან შესაბამისობაში. ახლა მოდით უფრო დეტალურად
        განვიხილოთ, თუ როგორ შეგიძლიათ თქვენი დროზე პასუხისმგებლობა და აქციოთ ის თქვენთვის სამუშაო აქტივად.
    </p>

    <h4 class="mt-5" align="center"> 1. გაიგეთ სად მიდის თქვენი დრო</h4>
    <p class="mt-3 px-5">დროის კონტროლი საუკეთესოდ შეიძლება აღიწეროს, როგორც დროის თვალყურის დევნების
        პროცესი, რომელსაც იყენებთ დროის ხარჯვის გასაგებად და ამით მეტი კონტროლის/„დროის“ მოპოვებაზე, სად ატარებთ დროს.
        ერთი
        კვირის განმავლობაში, თქვენ უნდა ჩაწეროთ ჩანაწერი ყველა იმ აქტივობის შესახებ, რომელსაც აკეთებთ, რათა უკეთ გაიგოთ
        თქვენი შაბლონებისა და დროის ხარჯვის შესახებ. თქვენ ალბათ გაგიკვირდებათ, როცა დაინახავთ, რამხელა დრო ეთმობა
        დივერსიებს, როგორიცაა სოციალური მედია და უმიზნო დათვალიერება.
    </p>

    <h4 class="mt-5" align="center">2. დააყენეთ მკაფიო პრიორიტეტები</h4>
    <p class="mt-3 px-5">ამის შემდეგ შეგიძლიათ იფიქროთ რომელი აქტივობებია თქვენთვის ყველაზე მნიშვნელოვანი.
        თქვენი პრიორიტეტების დასახვა თქვენს მიზნებთან და ღირებულებებთან, ნიშნავს, რომ თქვენი ცხოვრება აჩვენებს ვინ ხართ.
        თქვენ შეძლებთ თქვენი ენთუზიაზმი მიმართოთ ცხოვრებისკენ, რომელსაც აქვს უმაღლესი პოტენციალი, როგორიცაა წარმატებული
        კარიერა, მოსიყვარულე ოჯახი და თქვენი პირადი ჯანმრთელობა.
    </p>

    <h4 class="mt-5" align="center"> ეიზენჰაუერის მატრიცა: </h4>
    <h5 class="mt-3" align="center"> დაყავით თქვენი ამოცანები ოთხ კატეგორიად:</h5>
    <p class="mt-3 px-5"> გადაუდებელი და მნიშვნელოვანი: გააკეთეთ ეს დაუყოვნებლივ.
    <p class="px-5">მნიშვნელოვანი, მაგრამ არა გადაუდებელი: დაგეგმეთ დრო მათთვის.</p>
    <p class="px-5">გადაუდებელი, მაგრამ არა მნიშვნელოვანი: დელეგირება, თუ ეს შესაძლებელია.</p>
    <p class="px-5">არც გადაუდებელი და არც მნიშვნელოვანი: აღმოფხვრა ან მინიმუმამდე დაიყვანოს ისინი.</p>


    <h4 class="mt-5" align="center"> 3. მოიცვათ დროის ბლოკირება</h4>
    <p class="mt-3 px-5"> დროის ბლოკირება არის მძლავრი ტექნიკა, სადაც განსაზღვრავთ კონკრეტულ დავალებებს ან
        აქტივობებს განსაზღვრული პერიოდებისთვის. მრავალ დავალების ნაცვლად, რომელსაც შეუძლია ფოკუსირების შემცირება,
        დაუთმეთ უწყვეტი დრო თითოეულ აქტივობას. ეს მეთოდი უზრუნველყოფს, რომ თქვენს პრიორიტეტებს მიექცეს ყურადღება,
        რომელსაც იმსახურებენ.
    </p>

    <p class="mt-2 px-5"> მაგალითი:</p>

    <p class="px-5"> 8:00–9:00: ვარჯიში</p>
    <p class="px-5"> 9:00–11:00: ღრმა სამუშაო (მნიშვნელოვანი პროექტები)</p>
    <p class="px-5"> 11:00–11:30: ელ.წერილი და შეტყობინებები</p>


    <h4 class="mt-5" align="center">4. ისწავლეთ არას თქმა</h4>

    <p class="mt-3 px-5"> როცა რაღაცაზე "დიახ" ამბობთ, თქვენ ავტომატურად "უარს ამბობთ" რაღაცაზე. დაზოგეთ დრო იმით, რომ
        არ გააკეთოთ ისეთი
        აქტივობები, რომლებიც არ მოგაახლოებთ თქვენს მიზნებთან. უთხარით არა ნაზად იმ ძალისხმევას, რომელიც აშორებთ თქვენს
        მიზნებს.
    </p>

    <h4 class="mt-5" align="center">5. გამოიყენეთ ტექნოლოგია გონივრულად</h4>

    <p class="mt-3 px-5">ტექნიკა შეიძლება იყოს როგორც მეგობარი, ასევე მტერი. წაახალისეთ ისეთი ტექნოლოგიების გამოყენება,
        როგორიცაა
        კალენდრები,
        ამოცანების მენეჯერები და ფოკუსირებული აპლიკაციები, მაგრამ ამავე დროს დააწესეთ საზღვრები იმ პლატფორმებზე,
        რომლებიც
        ყურადღებას გაგიფანტავთ. შეამცირეთ არაარსებითი შეტყობინებების რაოდენობა და იფიქრეთ იმ აპლიკაციების გამოყენებაზე,
        რომლებსაც შეუძლიათ დაგამშვიდონ მიმდინარე არეულობისგან მუშაობის დროს.
    </p>

    <h4 class="mt-5" align="center">6. მიიღეთ შესვენებები დატენვისთვის</h4>

    <p class="mt-3 px-5">დროის მენეჯმენტი არ არის მუშაობა მანამ, სანამ ადამიანს აღარ შეუძლია, არამედ მუშაობა უკეთესი
        გზით. რეგულარული
        ხანმოკლე შესვენებები აუცილებელია თქვენი ენერგიის აღსადგენად და დავალებაზე ფოკუსირების შესანარჩუნებლად. ისეთი
        მეთოდების გამოყენება, როგორიცაა Pomodoro Technique (25 წუთი მუშაობა, 5 წუთი შესვენება) მნიშვნელოვნად გაზრდის
        თქვენსეფექტურობას.
    </p>

    <h4 class="mt-5" align="center">7. ასახვა და მორგება</h4>

    <p class="mt-3 px-5">ყველას სჭირდება ერთი წუთი დახარჯოს დროის მენეჯმენტის მიღწევაზე ფიქრში დღის ან კვირის ბოლოს. რა
        იყო წარმატების
        მთავარი მიზეზი? რა არ მოხდა ისე, როგორც დაგეგმილი იყო? ამ გაგების საფუძველზე, თქვენ შეგიძლიათ შეცვალოთ მიდგომა
        და ამით უკეთ გახდეთ მომავალში.
    </p>

    <h5 class="mt-5" align="center">დასკვნა</h5>

    <p class="mt-3 px-5 pb-5">დროის მართვა არის გზა და არა დამღლელი. თქვენი დროის შესახებ მკაფიო ხედვის მოპოვებით,
        თქვენი მიზნების ჩამოთვლით და
        მათი განხორციელებით, შეგიძლიათ გააერთიანოთ თქვენი დრო მნიშვნელოვან საკითხებთან. დაიმახსოვრე ის აზრი, რომ
        ადამიანს არ სჭირდება შრომატევადი რეჟიმის შენარჩუნებამთელი დღის
        განმავლობაში; მას შეუძლია უბრალოდ ჩაერთოს საქმეში, რომელიც ხელშესახებია.
    </p>
</div>
{% endblock content %}